pandas
pymongo
tabulate
matplotlib
flask
flask-login
termcolor
mongoengine
faker
prettytable
waitress>=3.0.1
gunicorn
setuptools>=65.5.1
numpy>=1.22.2
werkzeug>=3.0.6 # not directly required, pinned by Snyk to avoid a vulnerability